GtkWindow
{
    background-color: magenta;
}

GtkButton
{
    background-image: none;
}

#normal_button
{
    background-image: none;
    /*background-color: WhiteSmoke;*/
    background-color: #EDEDED;
}

#hidden_button
{
    background-image: none;
    background-color: WhiteSmoke;
}

#blue_button
{
    background-image: none;
    background-color: RoyalBlue;
    color: black;
    /*font-family: DejaVu Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    border-radius: 1px;*/
}
#blue_button:hover
{
   background-color: Blue;
}
#red_button
{
    background-image: none;
    background-color: OrangeRed;
    color: black;
    /*font-family: DejaVu Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    border-radius: 1px;*/
}
#red_button:hover
{
   background-color: Red;
}

#green_button
{
    background-image: none;
    background-color: LightGreen;
    color: black;
    /*font-family: DejaVu Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    border-radius: 1px;*/
}
#green_button:hover
{
   background-color: Lime;
}

